/* General */

* {
    font-family: 'Roboto';
}

body {
    min-height: 100vh;
    padding-bottom: 100px;
    position: relative;
}

.row {
    margin: 0;
}

.container-fluid {
    padding: 0;
}

.btn-primary {
    background-color: #F2A340;
    border: 2px solid #C28008;
}

.btn-primary:hover {
    background-color: #C28008;
    border-color: #C28008;
}

/* Navbar */
#navbar img {
    width: 40px;
}

#navbar {
    justify-content: flex-end;
    padding: 5px 0;
}

#navbar a {
    font-size: 1.2rem;
    color: rgb(238, 225, 225);
}

#navbar a:hover {
    color: rgb(160, 142, 142);

    transition: 0.4s;
}

/* Search Container */
#search-container {
    background-size: cover;
    background-position: center;
    height: 400px;
    padding: 50px;
    text-align: center;
}

#search-container h1 {
    color: #F2A340;
    margin-bottom: 15px;
    font-weight: 900;
}

#search-container form {
    width: 50%;
    margin: 0 auto;
}

/* Events list */
#events-container {
    padding: 50px;
}

#events-container h2 {
    margin-bottom: 10px;
}

#events-container .subtitle {
    color: #757575;
    margin-bottom: 30px;
}

#cards-container {
    display: flex;
    overflow-x: auto;
}

#cards-container::-webkit-scrollbar {
    height: 12px !important;
    background: #beb8b8;
    border-radius: 20px;
}

#cards-container::-webkit-scrollbar-thumb {
    background: #6c6c6c;
    border-radius: 20px;
}

#events-container .card {
    max-width: 20%;
    border-radius: 10px;
    padding: 0;
    margin: 5px;
}

@media (max-width: 1100px) {
    #events-container .card {
        min-width: 40%;
        border-radius: 10px;
        padding: 0;
        margin: 5px;
    }
}

@media (max-width: 670px) {
    #events-container .card {
        min-width: 70%;
        border-radius: 10px;
        padding: 0;
        margin: 5px;
    }
}

#events-container img {
    max-height: 250px;
    border-top-left-radius: 10px;   
    border-top-right-radius: 10px;   
}

.card .card-date {
    font-size: 1rem;
    color: #CCC;
}

.card .card-title {
    color: #212121;
    font-size: 1.6rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.card-participants {
    font-size: 1.2rem;
    color: #757575;
}

/* Event create page */
#event-create-container {
    padding: 30px;
}

#event-create-container label {
    font-weight: bold;
}

#event-create-container input,
#event-create-container select,
#event-create-container textarea {
    font-size: 1rem;
}

/* Event Page */
#image-container,
#info-container {
    margin-top: 30px;
}

#image-container img {
    border-radius: 10px;
}

#info-container h1 {
    font-size: 3rem;
    font-weight: 900;
}

#info-container p {
    margin: 0;
    font-size: 1rem;
    display: flex;
    margin-bottom: 5px;
}

#info-container h3,
#description-container h3 {
    font-size: 1.6rem;
    font-weight: bold;
}

#info-container i.event-icon {
    width: 1.3rem;
    height: 1.3rem;
    color: #F2A340;
    margin-right: 5px;
}

#info-container #event-submit {
    margin: 20px 0;
}

/* Footer */
footer {
    text-align: center;
    background-color: #353E48;
    color: rgb(187, 163, 163);
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p {
    margin-bottom: 0;
}
